<div id="particles-js"></div>
<div class="blur-overlay"></div>

<main class="content-container">
    <h1 id="typed" class="display-1 text-primary" style="font-family: 'Playfair Display', 'Apple Color Emoji', sans-serif; font-weight: 500;"></h1>
    <p class="lead"><strong>Saeed Mohamed - Mostafa Tamer</strong></p>
</main>

<script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>

<script>
        document.addEventListener('DOMContentLoaded', function() {
        particlesJS.load('particles-js', '/assets/particles.json');
        });

        document.addEventListener('DOMContentLoaded', function() {
        const element = document.getElementById('typed');
        const text = 'Bank Management System';
        let i = 0;

        function typeWriter() {
            if (i < text.length) {
                element.innerHTML += text.charAt(i);
                i++;
                setTimeout(typeWriter, 100); // Adjust speed here
            }
        }

        typeWriter();
    });
</script>
