@model Account

<div class="card shadow border-0 mt-4">
    <div class="card-header ml-0 py-3" style="background: conic-gradient(from -140.06deg, #020401, #656565)">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="text-white py-2">Edit Account</h1>
            </div>
        </div>
    </div>

    <div class="card-body p-4">
        <form method="post" class="row">
            <div class="p-3">
                <input type="hidden" asp-for="Id" />

                <!-- Read-only fields -->
                <input asp-for="CustomerId" class="form-control" hidden />
                <input asp-for="BranchId" class="form-control" hidden />
                <input asp-for="OpenDate" class="form-control" hidden />
                <input asp-for="Balance" class="form-control" hidden />

                <!-- Editable fields -->
                <div class="pb-2">
                    <label asp-for="Type"></label>
                    <select asp-for="Type" class="form-select">
                        <option value="Savings">Savings</option>
                        <option value="Checking">Checking</option>
                    </select>
                    <span asp-validation-for="Type" class="text-danger"></span>
                </div>

                <div class="pb-2">
                    <label asp-for="Status"></label>
                    <select asp-for="Status" class="form-select">
                        <option value="Active">Active</option>
                        <option value="Suspended">Suspended</option>
                        <option value="Closed">Closed</option>
                    </select>
                    <span asp-validation-for="Status" class="text-danger"></span>
                </div>

                <div class="row row-cols-auto">
                    <div class="col">
                        <button type="submit" class="btn btn-primary" style="width:150px">UPDATE</button>
                    </div>

                    <div class="col p-0">
                        <a asp-controller="Account" asp-action="Index" class="btn btn-outline-secondary">
                            BACK
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial"></partial>
    }
}